@import '@styles/theme.scss';
@import '@styles/mixins.scss';

.content {
  padding: 2rem 0;
}

.body {
  @include flexCenter;

  flex-direction: column;
  gap: 1rem;

  @include md {
    flex-direction: row;
    gap: 3rem;
  }

  @include lg {
    gap: 6rem;
  }
}

.bodyImage {
  flex: 0 375px;
}

.rounded {
  border-radius: $mdRounded;
}

.bodyDescription {
  flex: 1;
  margin-bottom: 1rem;

  & h1 {
    font-size: $xl;
    font-weight: 44px;
    font-weight: 600;
  }

  & p {
    font-size: $md;
    line-height: 22px;
    font-weight: 500;
  }
}

.skill {
  @include flexLeft;

  flex-direction: column;
  margin-top: 1rem;

  @include md {
    flex-direction: row;
  }

  & > span {
    font-size: $sm;
    font-weight: 20px;
    font-weight: 700;
    margin-right: 0.5rem;

    @include md {
      flex: 0 150px;
    }
  }

  & > p {
    font-size: $sm;

    @include md {
      flex: 1;
    }
  }
}

.footer {
  text-align: center;
}

.footerPhotos {
  @include flexCenter;

  flex-wrap: wrap;
  gap: 1rem;
}
