@import '@styles/theme.scss';
@import '@styles/mixins.scss';

.content {
  @include flexBetween;

  background-color: $black;
  border: 1px solid red;
  border-top-left-radius: $lgRounded;
  border-top-right-radius: $lgRounded;
  color: $white;
  padding: 0.5rem 1.5rem;
  height: 100px;
  width: 100%;

  & p {
    font-size: 0.75rem;
  }
}
