@import '@styles/theme.scss';
@import '@styles/mixins.scss';

.content {
  border: 1px solid green;
  width: 100%;
  padding: 2rem 0 1rem;
}

.header {
  position: relative;
  display: flex;
}

.headerBackground {
  border-top-left-radius: $lgRounded;
  border-top-right-radius: $lgRounded;
}

.headerContent {
  position: absolute;
  top: 0.5rem;
  left: 0.75rem;
  width: 50%;
  color: $white;
  padding: 0 0.75rem;

  & span svg {
    width: 70%;
  }

  & p {
    font-weight: 500;
    font-size: $xxs;
    line-height: $xs;
    margin: 0.25rem 0 1.25rem 0;
  }

  & div {
    @include flexBetween;

    padding: 8px 14px 8px 14px;
    background-color: $white;
    color: $black;
    border-radius: 1.5rem;
    width: max-content;

    & input {
      width: 50px;
      font-size: $xs;
      font-weight: 500;
      line-height: 14px;
      border: none;
      color: $cannonBlack;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $cannonBlack;
        font-weight: 500;
      }
    }

    & span {
      margin-left: 12px;
    }
  }
}

.body {
  background-color: $westar;
  padding: 0.75rem 1.5rem;
  border-bottom-left-radius: $lgRounded;
  border-bottom-right-radius: $lgRounded;

  & h2,
  a {
    font-size: $xs;
  }

  a {
    display: block;
    font-weight: 500;
    line-height: 14px;

    &:nth-last-child(1) {
      text-align: center;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: $xs;
  row-gap: $sm;
  margin: 1rem 0;
}

.rounded {
  border-radius: $smRounded;
  border: 1px solid red;
}
