@import '@styles/theme.scss';
@import '@styles/mixins.scss';

.content {
  border: 1px solid green;
  width: 100%;
  padding: 2rem 0 1rem;
}

.header {
  position: relative;
}

.headerImage {
  display: flex;
}

.headerImageBg {
  border-top-left-radius: $lgRounded;
  border-top-right-radius: $lgRounded;
}

.headerContent {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.25rem 1rem;
  border: 1px solid red;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0.75rem;
  width: 50%;
  color: $white;

  & span {
    display: flex;

    & svg {
      width: 70%;
    }
  }

  & p {
    font-weight: 500;
    font-size: $xxs;
    line-height: $xs;
    margin: 0.25rem 0 0.75rem 0;
  }

  & div {
    @include flexBetween;

    padding: 8px 14px 8px 14px;
    background-color: $white;
    color: $black;
    border-radius: 1.5rem;
    width: max-content;

    & input {
      width: 50px;
      font-size: $xs;
      font-weight: 500;
      line-height: 14px;
      border: none;
      color: $cannonBlack;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $cannonBlack;
        font-weight: 500;
      }
    }

    & span {
      margin-left: 12px;
    }
  }
}

.body {
  background-color: $westar;
  padding: 0.75rem 1.5rem;
  border-bottom-left-radius: $lgRounded;
  border-bottom-right-radius: $lgRounded;

  @include md {
    padding: 1rem 3rem;
  }

  @include lg {
    padding: 1.25rem 5rem;
  }

  & h1 {
    font-weight: 700;
    font-size: $md;
    line-height: 21px;
    max-width: 190px;

    @include sm {
      font-size: $lg;
      line-height: 36px;
      max-width: 310px;
    }

    @include md {
      font-size: $xxl;
      line-height: 48px;
      max-width: 440px;
    }

    @include lg {
      font-size: $xxxl;
      line-height: 58px;
      max-width: 540px;
    }
  }
}

.popularBreedsLink {
  font-size: $xs;
  font-weight: 500;
  line-height: 15px;

  @include md {
    font-size: $sm;
    line-height: 18px;
  }

  @include lg {
    font-size: $md;
    line-height: 22px;
  }
}

.breedsLink {
  text-align: right;
  text-transform: uppercase;
  opacity: 0.6;
  display: block;
  font-weight: 500;
  line-height: 14px;
  font-size: $xs;

  @include lg {
    font-size: $md;
    font-weight: 700;
    line-height: 22px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: $xs;
  row-gap: $sm;
  margin: 1rem 0;

  & > a {
    font-size: $xs;
    line-height: 22px;
  }

  @include md {
    grid-template-columns: repeat(3, 1fr);
    column-gap: $lg;
  }

  @include lg {
    grid-template-columns: repeat(4, 1fr);
    column-gap: $xl;
  }
}

.rounded {
  border-radius: $smRounded;
  border: 1px solid red;
}
