@import '@styles/mixins.scss';

.mainContainer {
  @include flexCenter;

  min-height: 100vh;
  flex-direction: column;
  padding: 0 1rem;
}

.container {
  @include flexCenter;

  flex: 1;
  flex-direction: column;
  width: 100%;
}
