// Colors
$black: #000000;
$bunker: #050709;
$cannonBlack: #291507;
$westar: #e3e1dc;
$white: #ffffff;
$kabul: #544439;

// font sizes
$xxs: 0.625rem; // 10px
$xs: 0.75rem; // 12px
$sm: 16px;
$md: 1.125rem; // 18px
$lg: 1.5rem; // 24px
$xl: 2.25rem; // 36px
$xxl: 2.5rem; // 40px
$xxxl: 3rem; // 48px

// borderRadius
$smRounded: 12px;
